.home {
  background: url('../img/911_1.jpg') center no-repeat fixed;
  filter: blur(0px);
  height: 100%;
  position: relative;
  width: 100%;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.paragraph:nth-child(odd) {
  background-image: linear-gradient(to bottom right, #fdfcfb 0%, #e2d1c3 100%); 
}

.paragraph:nth-child(even) {
  background: linear-gradient(to bottom left,#e2d1c3 0%, #fdfcfb 100%);
}